body{
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}


/* Container
====================
*/

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header
==========================
*/
.header{
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.header-inner{
    display: flex;
    padding: 20px 0;
    align-items: center;
}
.header-logo{
    margin-right: 24px;
}
.logo{
    width: 91px;
    height: 32px;
}
.nav{
    display: flex;
}
.nav_link{
    margin-right: 34px;
    color: #050038;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.nav_link:hover{
    font-weight: 700;
    transition: opacity 0.1s linear;
}
.header-ru{
    display: flex;
    align-items: center;
    margin-left: 247px;
}
.ru{
    padding-top: 4px;
    width: 40px;
    height: 40px;
}
.but-ru{
}
.but-ru:hover {
    transform: scale(1.07);
    opacity: 1;
}
.navbar-but{
    margin-left: 60px;
    width: 157px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    padding: 15px 26px;
    background-color: #4262FF;
    border-radius: 100px;
    transition: all .1s ease-in-out;
}
.navbar-but:hover{
    transform: scale(1.04);
}
.navbar-button{
    text-decoration: none;
    color: #fff;
}
/* Intro
======================
 */
.intro{
    height: 700px;
    padding-top: 158px;
}
.content{

}