body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container
====================
*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header
==========================
*/
.header {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.header-inner {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.header-logo {
    margin-right: 22px;
}

.logo {
    width: 91px;
    height: 32px;
}

.nav {
    display: flex;
}

.nav_link {
    margin-right: 34px;
    color: #050038;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.nav_link:hover {
    color: #4262FF;
    transition: opacity 0.1s linear;
}

.header-ru {
    display: flex;
    align-items: center;
    margin-left: 277px;
}

.ru {
    padding-top: 4px;
    width: 40px;
    height: 40px;
}

.but-ru {
    transition: all .1s ease-in-out;
}

.but-ru:hover {
    transform: scale(1.1);
    opacity: 1;
}

.navbar-but:hover {
    background-color: #264bff;
}

.navbar-button {
    margin-left: 90px;
    width: 157px;
    height: 50px;
    text-align: center;
    padding: 15px 26px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #4262FF;
    border-radius: 100px;
    border: 1px solid #4262FF;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.navbar-button:hover {
    background: #264bff;
}

/* Intro
======================
 */
.intro {
    height: 650px;
    padding-top: 158px;
}

.intro-display {
    display: flex;
}

.intro-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 220px;
    padding-left: 40px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 56px;
    letter-spacing: 1px;
}

.intro-text-main {
    padding-top: 19px;
    padding-left: 40px;
    padding-right: 81px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 24px;
}

.intro-box {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 81px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    width: 440px;
    height: 48px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
}

.intro-button {
    width: 440px;
    height: 48px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 81px;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #4262FF;
    border-radius: 100px;
    border: 1px solid #4262FF;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.intro-button:hover {
    background: #264bff;
}

.intro-text-bottom {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    padding-left: 40px;
    line-height: 20px;
}

.intro-bottom {
    display: flex;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
}

.intro-bottom-txt {
    margin-top: 52px;
    line-height: 24px;
}

.Walmart-logo {
    margin-top: 47px;
    margin-left: 20px;
    width: 60px;
    height: 33px;
}

.Cisco-logo {
    margin-top: 47px;
    margin-left: 20px;
    width: 39px;
    height: 33px;
}

.deloitte-logo {
    margin-top: 47px;
    margin-left: 20px;
    width: 45px;
    height: 33px;
}

.Volvo-logo {
    margin-top: 47px;
    margin-left: 20px;
    width: 27px;
    height: 33px;
}

.screenshot {
    margin-right: 51px;
}

.screen {
    width: 590px;
    height: 461px;
}

/* Content-1
======================
 */
.container-1-display {
    display: flex;
}

.Content-1 {
    margin-top: 214px;
}

.Content-1-text {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 116px;
    padding-left: 40px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 56px;
    letter-spacing: 1px;
}

.Content-1-text-main {
    opacity: 0.60;
    padding-top: 19px;
    padding-left: 40px;
    padding-right: 134px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 24px;
}

.Content-1-text-bottom {
    padding-top: 39px;
    padding-left: 40px;
    padding-right: 437px;
    line-height: 24px;
}

.Content-1-font-bottom {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #4262FF;
    text-decoration: none;
    border-bottom: 1px solid #4262FF;
    padding-bottom: 1px;
}

.screenshot-Content-1 {
    margin-top: 132px;
    margin-right: 40px;
}

.screen-Content-1 {
    width: 550px;
    height: 535px;
}

/* Content-2
======================
 */
.Content-2-display {
    display: flex;
}

.screenshot-Content-2 {
    margin-top: 120px;
    margin-left: 40px;
}

.screen-Content-2 {
    width: 550px;
    height: 498px;
}

.Content-2 {
    margin-top: 183px;
    margin-right: 70px;
    margin-left: 115px;
}

.Content-2-text {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 56px;
    letter-spacing: 1px;
}

.Content-2-text-main {
    opacity: 0.60;
    margin-top: 19px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: left;
    line-height: 24px;
}

.Content-2-text-bottom {
    margin-top: 39px;
}

.Content-2-font-bottom {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #4262FF;
    text-decoration: none;
    border-bottom: 1px solid #4262FF;
    padding-bottom: 1px;
}

/* Content-3
======================
 */
.content-3-text-header {
    margin-top: 148px;
    margin-left: 70px;
    margin-bottom: 0;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #050038;
    text-align: left;
    line-height: 56px;
    letter-spacing: 1px;
}

/* slider-1
======================
 */
.slider {
    margin-top: 34px;
    padding-left: 70px;
    height: 605px;
}

.slider-display {
    position: absolute;
}

.slider input[type=radio] {
    display: none;
}

.slider input[type=radio] + label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    border: 1px solid #F2F2F2;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 100px;
    cursor: pointer;
    height: 48px;
    position: absolute;
    z-index: 10;
}

.slider input[type=radio]:checked + label {
    background-color: #F2F2F2;
}

.slider-panel {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 1s;
}

.slider-display input:checked ~ .slider-panel {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.slider-text-1 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 50px;
    margin-top: 100px;
    width: 288px;
    z-index: 10;
}

.slider-text-1-1 {
    color: #050038;
    line-height: 24px;
}

.slider-text-1-2 {
    margin-top: 25px;
    color: #050038;
    line-height: 24px;
}

.slider-text-1-3 {
    margin-top: 32px;
    line-height: 24px;
}

.slider-link {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #4262FF;
    text-decoration: none;
}

.slider-screen-display {
    margin-top: 85px;
}

.slider-screen {
    width: 700px;
    height: 517px;
}

.label1 {
    margin-left: 0;
}

.label2 {
    margin-left: 170px;
}

.label3 {
    margin-left: 295px;
}

.label4 {
    margin-left: 394px;
}

.label5 {
    margin-left: 487px;
}

.label6 {
    margin-left: 626px;
}

.label7 {
    margin-left: 820px;
}

/* Content-4
======================
 */
.content-4-text-header {
    margin-top: 150px;
    margin-left: 70px;
    margin-bottom: 0;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #050038;
    text-align: left;
    line-height: 56px;
    letter-spacing: 1px;
}

/* slider-2
======================
 */
.slider-2 {
    margin-top: 34px;
    padding-left: 70px;
    height: 605px;
}

.slider-display-2 {
    position: absolute;
}

.slider-2 input[type=radio] {
    display: none;
}

.slider-2 input[type=radio] + label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    border: 1px solid #F2F2F2;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 24px;
    cursor: pointer;
    height: 48px;
    position: absolute;
    z-index: 10;
}

.slider-2 input[type=radio]:checked + label {
    background-color: #F2F2F2;
}

.slider-panel-2 {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 1s;
}

.slider-display-2 input:checked ~ .slider-panel-2 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.slider-text-2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 50px;
    margin-top: 100px;
    width: 288px;
    z-index: 10;
}


.slider-2 ol {
    padding-left: 18px;
    opacity: 60%;
    color: #050038;
    line-height: 24px;
}

.slider-2 li {
    padding-left: 14px;
    margin-bottom: 18px;
}


.slider-text-2-1 {
    color: #050038;
    margin-top: 32px;
    line-height: 24px;
}

.slider-text-2-2 {
    margin-top: 70px;
    color: #050038;
    opacity: 60%;
    line-height: 24px;
}

.slider-link-2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #4262FF;
    text-decoration: none;
}

.slider-logo {
    margin-top: 13px;
}

.slider-screen-display-2 {
    margin-top: 85px;
}

.slider-screen-2 {
    width: 700px;
    height: 517px;
}

.label-2-1 {
    margin-left: 0;
}

.label-2-2 {
    margin-left: 125px;
}

.label-2-3 {
    margin-left: 241px;
}

.label-2-4 {
    margin-left: 439px;
}

.label-2-5 {
    margin-left: 560px;
}

.label-2-6 {
    margin-left: 682px;
}

.label-2-7 {
    margin-left: 814px;
}


/* content-5
======================
 */


.Content-5 {
    margin-top: 150px;
    background-color: #FFD02F;
    width: 100%;
    height: 975px;
}

.content-5-text {
    display: table;
    padding-top: 118px;
    margin: 0 auto;
    width: 525px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 56px;
}

.content-5-text-main {
    text-align: center;
    line-height: 56px;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    margin: 0 auto;
    font-weight: 400;
}

.content-5-link-main {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-decoration: none;
    border-bottom: 1px solid #050038;
    padding-bottom: 1px;
}

.content-5-block {
}

.content-5-block-1 {
    display: flex;
    justify-content: space-between;
}

.content-5-block-first {
    width: 360px;
    height: 250px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
}

.content-5-block-2 {
    display: flex;
    justify-content: space-between;
}

.content-5-block-image {
    width: 360px;
    height: 154px;
}


/* content-6
======================
 */

.content-6-tittle {
    margin-top: 124px;
    margin-bottom: 27px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    text-align: center;
    line-height: 56px;
    letter-spacing: 1px;
}

.content-6-link-block {
    display: flex;
    align-items: center;
}

.content-6-link {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #4262FF;
    margin: 0 auto;
    padding-top: 9px;
    padding-left: 24px;
    padding-right: 40px;
    border-radius: 24px;
    cursor: pointer;
    align-items: center;
    height: 46px;
    width: 264px;
    border: 1px solid #4262FF;
}

.content-6-block {
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
}

.content-6-block-first-1 {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
    margin-left: 76px;
}

.content-6-block-first-2 {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
}

.content-6-block-first-3 {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
}

.content-6-block-image {
    width: 288px;
    height: 62px;
}

.content-6-block-text {
    opacity: 60%;
}

.content-6-text-display {
    width: 290px;
}

.content-6-block-2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content-6-block-two-1 {
    text-align: left;
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 20px;
    margin-top: 60px;
}

.content-6-block-two-2 {
    text-align: left;
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 20px;
    margin-top: 84px;
}

.content-6-block-two-3 {
    text-align: left;
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 20px;
    margin-top: 108px;
}

.content-6-block-image-2 {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.content-6-block-text-1 {
    opacity: 60%;
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.content-6-block-text-2 {
    opacity: 60%;
    text-align: left;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #050038;
    line-height: 24px;
    margin-top: 0;
    width: 230px;
}


/* content-7
======================
 */


.content-7 {
    background-color: #050038;
    width: 1120px;
    height: 584px;
    border-radius: 24px;
    margin-top: 155px;
    margin-bottom: 120px;
    margin-left: 40px;
}

.content-7-text {
    display: table;
    padding-top: 118px;
    margin: 0 auto;
    width: 640px;
    text-align: center;
}

.content-7-text-title {
    text-align: center;
    line-height: 56px;
    font-size: 48px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 19px;
    font-weight: 400;
}

.content-7-text-main {
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 60%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 400;
}

.content-7-link-main {
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    opacity: 60%;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 1px;
    font-weight: 400;
}

.content-7-link {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}

.content-7-link-block {
    display: flex;
    align-items: center;
}

.content-7-link-bottom {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 9px;
    padding-left: 24px;
    padding-right: 40px;
    border-radius: 24px;
    cursor: pointer;
    align-items: center;
    height: 46px;
    width: 264px;
    background-color: #4262FF;
    border: 1px solid #4262FF;
}


/* footer
======================
 */


.footer{
    background-color: #050038;
    height: 757px;
    width: 100%;
}
.footer-list{
    display: flex;
    text-align: left;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer-list h1{
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 24px;
}

.footer-list p{
    font-size: 16px;
    margin-bottom: 9px;
    line-height: 24px;
}

.footer-list-1{
    margin-left: 20px;
    width: 180px;
    margin-right: 50px;
}

.footer-list-2{
    width: 220px;
    margin-right: 30px;
}

.footer-list-3{
    width: 230px;
    margin-right: 20px;
}

.footer-list-4{
    width: 180px;
    margin-right: 40px;
}

.footer-list-5{
    width: 160px;
}
.footer-link{
    margin-right: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.footer-link:hover {
    color: #FFD02F;
    border-bottom: 1px solid #FFD02F;
    padding-bottom: 1px;
}